asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
conda==4.8.3
conda-package-handling==1.7.0
cryptography==2.9.2
Django==3.1
django-rest-auth==0.9.5
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
idna==2.9
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
pandas==1.0.5
pycosat==0.6.3
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
ruamel-yaml==0.15.87
selenium==3.141.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.46.0
urllib3==1.25.8
