<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <div class="div_login">
        <div class="login__info">
            <div class="login__info__logo"></div>
            <h1>나와라</h1>>
            <form action="" method="post">
                <input type="text">
                <input type="text">
                <button>login</button>
            </form>
            <div class="login__info__input"></div>
            <div class="login__info__btn"></div>
            <div class="login__info__and"></div>
        </div>
        <div class="login__orther">
            <div class="login_orther__facebook"></div>
            <div class="login_orther__lowpassowrd"></div>
        </div>
        <div class="login__singup">
            <div class="login__singup__link"></div>
            <div class="login__singup__content"></div>
            <div class="login__singup__imgBtn"></div>
        </div>
    </div>
</body>

</html>