asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
Django==3.1.3
django-cors-headers==3.5.0
idna==2.10
mysqlclient==2.0.1
pytz==2020.4
requests==2.25.0
selenium==3.141.0
soupsieve==2.0.1
sqlparse==0.4.1
urllib3==1.26.4
webdriver-manager==3.2.2
